
/1 - Rough Notes/
/2 - Source Material/FrontEnd Material/DAS Frontend questionnare.pdf
/2 - Source Material/Media and other files/
/2 - Source Material/Other/Digital Aid Seattle Technical Challenge Working Document.md
/2 - Source Material/Resouces/6-Month Full-Stack AI Developer Roadmap (React + TypeScript to Agentic AI).md
/2 - Source Material/Resouces/Prashanth Chats.md
/6 - Main notes/Daily notes/
/6 - Main notes/AI Engineering A Realistic Roadmap for Beginners.md
/6 - Main notes/AI Engineering A Realistic Roadmap for Beginners.md
/6 - Main notes/DAS/
.tmp.drivedownload/
/.trash
/.tmp.drivedownload/
/.trash/

/.tmp.driveupload
/.obsidian
/MyScript.ps1
/q
/6 - Main notes/Getting Started - DAS.md
/4 - Indexes/Goals & ordered Priorities/
/2 - Source Material/Other/Digital Aid Seattle Technical Challenge Working Document.md
/2 - Source Material/Resouces/6-Month Full-Stack AI Developer Roadmap (React + TypeScript to Agentic AI).md